* {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    width: 15%;
}

h1 {
    text-align: left;
    width: 100%;
    padding: 10%;
    font-family: 'Quicksand', sans-serif;
    color: #94524A;
}
header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #CADBC0;
    position: relative;
    text-align: center;

}
nav {
    padding: 2%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
i,
.navTxt,
.formTxt,
h3,
#addBtn{
    color: #94524A;
    font-family: 'Quicksand', sans-serif;
}
.formTxt{
    display: flex;
    flex-direction: row;
}
#hoover{
    position: relative;  
}
#hoover i,
#hoover .navTxt,
#hoover .formTxt{
    transition: opacity 0.9s ease-in-out;
}
#hoover .navTxt,
#hoover .formTxt{
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
}

#hoover:hover i {
    opacity: 0;
}

#hoover:hover .navTxt, #hoover:hover .formTxt {
    opacity: 1;
}

.form-container{
    size: 80%;
    padding: 10%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.note-container,
.file-container{
    size: 50%;
    padding: 15%;
    margin: auto;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: scroll;
}
.note-container #listTxt{
    color: #94524A;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 18px;
}
#listTxt h2{
    color: #94524A;
    font-family: 'Quicksand', sans-serif;
}

.form-container i{
    font-size: 50px;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #CADBC0;
    position: fixed;
    bottom: 0;
    padding: 1%;
    overflow-y: auto;
}

/*add note css-styles*/
form {
    max-width: 400px;
    margin: auto;
    position: center;
} 

input, 
textarea {
    width: 100%;
    margin: 5px 0;
}
.addForm{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#addBtn{
    width: 20%;
}