* {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    width: 20%;
    margin: auto;
}

h1 {
    text-align: left;
    width: 100px;
    padding: 1%; 
    font-family: 'Quicksand', sans-serif;
    color: #94524A;
    display: inline-block;
}
header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #CADBC0;
    position: relative;
    text-align: center;

}
nav {
    padding: 2%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
i,
.navTxt,
.formTxt,
h3,
#addBtn,
h2{
    color: #94524A;
    font-family: 'Quicksand', sans-serif;
}
.formTxt{
    display: flex;
    flex-direction: row;
}
#hoover{
    position: relative;  
}
#hoover i,
#hoover .navTxt,
#hoover .formTxt{
    transition: opacity 0.9s ease-in-out;
    display: inline-block;
    margin: auto;
}
#hoover .navTxt,
#hoover .formTxt{
    position: absolute; 
    top: 0;
    left: 0;
    opacity: 0;
}

#hoover:hover i {
    opacity: 0;
}

#hoover:hover .navTxt, #hoover:hover .formTxt {
    opacity: 1;
}

.form-container{
    size: 80%;
    padding: 10%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.note-container,
.file-container,
.image-container{
    width: 35%;
    padding: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.note-container #listTxt,
.file-container #listTxt,
.image-container #listTxt{
    color: #94524A;
    font-family: 'Quicksand', sans-serif;

}
.note-container h4,
.file-container h4,
.image-container h4{
    text-align: right;
    float: right;
}
#listTxt h3 {
    float: left;
    margin-right: 10px;
    text-align: left;
}

.form-container i{
    font-size: 50px;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #CADBC0;
    position: fixed;
    bottom: 0;
    padding: 1%;
    overflow-y: auto;
}

/*add note css-styles*/
form {
    max-width: 400px;
    margin: auto;
    position: center;
} 

input, 
textarea {
    width: 100%;
    margin: 5px 0;
}
.addForm{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#addBtn{
    width: 20%;
}

img {
    width: 20%;
}
button {
    background-color: white;
    border: none;
}